<?php if ($items): ?>
    <ul>
        <?php foreach ($items as $table):
            $dataId = 'databaseTable-' . $table['table'];
        ?>
            <li class="item"
                data-id="<?= e($dataId) ?>"
            >
                <a href="#" data-builder-command="databaseTable:cmdOpenTable" data-id="<?= e($table['table']) ?>">
                    <span class="title"><?= e($table['table']) ?></span>
                    <?php if (is_null($table['model'])): ?>
                        <span class="description unlinked"><?= e(trans($this->unlinkedTableMessage)) ?></span>
                    <?php else: ?>
                        <span class="description"><?= e(trans($this->linkedModelMessage, ['model' => $table['model']])) ?></span>
                    <?php endif ?>
                    <span class="borders"></span>
                </a>
            </li>
        <?php endforeach ?>
    </ul>
<?php else: ?>
    <p class="no-data"><?= e(trans($this->noRecordsMessage)) ?></p>
<?php endif ?>
